.footer-container {
    background-color: #000916;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-box {
    flex-grow: 1; /* Gör att foten expandera och fylla tillgängligt utrymme */
    padding: 20px;
}
