.about-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    display: flex;
    border-top: 4px solid #000129ab;
    flex-wrap: wrap;
    align-items: center;
}

.about-left-side {
    flex: 1;
    padding: 10px;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    border: 4px solid rgba(3, 11, 85, 0.397);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #000129ab;
    outline: 3px solid #000129ab;
}
.about-right-side {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.modal {
    background-color: rgba(194, 4, 4, 0.425);
}
.modal button {
    color: rgb(224, 3, 3);
    background-color: #0001294f;
    border: none;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        height: inherit;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-left-side,
    .about-right-side {
        margin: 10px;
        padding: 15px;
    }
    .about-right-side {
        text-align: center;
        margin-top: 20px;
    }
}
